
<p>Ślub to wazne wydarzenie w naszym zyciu i kazdy chce, żeby byl on jak z bajki.
  Podczas organizacji potrzebne jest nam miejsce, gdzie zbierzemy wszystkie informacje.
  W dzisiejszych czasach zawsze mamy przy sobie telefon czy tablet z dostępem do internetu, dlatego tez
  posiadanie aplikacji jest wygodniejsze niz notesik czy organizer w formie tradycyjnej.
  Mamy wtedy pewność, że zawsze gdy przyjdzie potrzeba szybkiego zanotowania daty czy modelu butów,
  aplikacja jest w zasięgu naszej ręki - jest bardziej niezawodna niż zeszyt, który możemy zostawić w domu czy poplamić kawą.
  Ponadto używanie aplikacji pozwala nam na utrzymanie w notatkach porządku.
  Na każdą niezbędną informacje czeka wyznaczone miejsce. Nie marnujemy więc czasu na przeszukiwanie notesu kilka razy dziennie,
  by zaznaczyć, że kolejny z gości potwierdził nam swoją obecność w dniu ślubu</p>
